.boxResult {
  border: 3px dashed #0a7dc8;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.boxResult div {
  width: 80%;
}
.boxResult button {
  width: 15%;
  border: none;
  background-color: #0a7dc8;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.show_url_larga {
  width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  color: #00000090;
  padding-left: 10px;
}
.show_url_corta {
  border: 1px solid #0a7dc8;
  border-radius: 10px;
  padding-left: 10px;
  width: 100%;
}
.show_url_corta:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .boxResult {
    width: 90%;
  }
}
