@tailwind base;
@tailwind components;
@tailwind utilities;

.contain-curve {
  position: absolute;
  top: 0;
  background-image: url(../public/curve.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -4vw;
  height: 18vw;
  width: 100%;
  z-index: -1;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button {
  border: none;
  border-radius: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.5s;
}

button:hover {
  box-shadow: inset 400px 0 0 0 #000000;
  border: none;
}
form {
  box-shadow: 0 4px 8px #000;
  border-radius: 20px;
}
input:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .contain-curve {
    height: 45vw;
  }
}
