@tailwind base;
@tailwind components;
@tailwind utilities;

.contain-curve {
  position: absolute;
  top: 0;
  background-image: url(../public/curve.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -4vw;
  height: 18vw;
  width: 100%;
  z-index: -1;
}
p {
  text-wrap: balance;
}
@media screen and (max-width: 768px) {
  .contain-curve {
    height: 45vw;
  }
  p {
    text-align: start;
  }
}
